body {
    background-color: aquamarine;
}


.addDestination {
    position: fixed;
    width: 20%;
    background-color: #CDD93F;
    top: 3em;
    right: 0em;
    margin-right: 1em;
    padding: 1em;
    border-radius: 0.25em;
    
}
.addDestina {
    position: fixed;
    width: 20%;
    background-color: #CDD93F;
    top: 6em;
    right: 0em;
    margin-right: 1em;
    padding: 1em;
    border-radius: 0.25em;
    
}
.addroute {
    position: fixed;
    width: 9%;
    top: 0em;
    right: 7%;
    background-color: #CDD93F;
    border-radius: 00.25em;
}
.addtaxi {
    position: fixed;
    width: 10%;
    top: 0em;
    right: 17%;
    background-color: #CDD93F;
    border-radius: 00.25em;
}
 td, th,tr {    
    padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
  border-collapse: collapse;
    

}
table{
    width: 70%;
}
.hidden {
    display: none;
}
.footer {
    display: flex;
    background-color: #b0d11d;
    border: 1px solid d;
    padding: 1em;
    margin: 1em;
    margin-bottom: 0.5em;
    border-radius: 1em;
    bottom: 0em;
  }
  .footer div {
    flex: 1;
    border-radius: 1em;
    background-color: #b0d11d;
  }